{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "fitness/theme.html" %}
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
    {% block header %}
    {% endblock %}
</head>
<script>
    {% block scripts %}
    {% endblock %}
</script>
<body>
{% bootstrap_messages %}
{% block content %}
{% endblock %}
</body>
</html>